In [105]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [106]:
#https://drive.google.com/file/d/1gIA9AC8wNx2kdepuP2Y7K5J7LnihRD1V/view?usp=sharing
downloaded = drive.CreateFile({'id':'1gIA9AC8wNx2kdepuP2Y7K5J7LnihRD1V'}) 
downloaded.GetContentFile('Ratings.csv') 
#https://drive.google.com/file/d/11duMozcad56OxTZtGrW3nY2Ir0hKU8ul/view?usp=sharing
downloaded = drive.CreateFile({'id':'11duMozcad56OxTZtGrW3nY2Ir0hKU8ul'}) 
downloaded.GetContentFile('Teleplay.csv')
#https://drive.google.com/file/d/1TFQWYDQYwBf3cEtVsU6BtUnUZrwGOreH/view?usp=sharing
downloaded = drive.CreateFile({'id':'1TFQWYDQYwBf3cEtVsU6BtUnUZrwGOreH'}) 
downloaded.GetContentFile('New_Teleplay.csv')

In [13]:
import pandas as pd
df=pd.read_csv('Teleplay.csv')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
v = TfidfVectorizer()
df=df.fillna("")
x = v.fit_transform(df['genre'])

#count_matrix = cv.fit_transform(x)
count_matrix = x

In [14]:
cosine_sim = cosine_similarity(count_matrix)

In [15]:
def get_title_from_index(index):
    return df[df.index == index]["name"].values[0]
def get_index_from_title(title):
    return df[df.name == title].index[0]

In [16]:
df.head()

   teleplay_id  ... members
0        32281  ...  200630
1        28977  ...  114262
2         9253  ...  673572
3         9969  ...  151266
4        32935  ...   93351

[5 rows x 7 columns]

In [22]:
dfr=pd.read_csv("Ratings.csv")
dfr.head()

   user_id  teleplay_id  rating
0        1           20      -1
1        1           24      -1
2        1           79      -1
3        1          226      -1
4        1          241      -1

In [23]:
user=dfr[dfr["user_id"]==53698]
required=user['rating'].max()
user_likes=user[user['rating']==required]

In [24]:
user_likes=pd.merge(user_likes,df[['teleplay_id','name','rating']],how='inner',left_on='teleplay_id',right_on='teleplay_id')
user_likes = user_likes.rename(columns = {'rating_x':'user rating','rating_y':'general rating'})
user_likes

    user_id  ...  general rating
0     53698  ...            7.57
1     53698  ...            7.48
2     53698  ...            7.53
3     53698  ...            7.89
4     53698  ...            6.73
5     53698  ...            7.69
6     53698  ...            6.46
7     53698  ...            7.47
8     53698  ...            6.91
9     53698  ...               7
10    53698  ...            6.36
11    53698  ...             6.8
12    53698  ...             8.1
13    53698  ...            6.71
14    53698  ...            7.55
15    53698  ...             8.3
16    53698  ...            8.12
17    53698  ...            8.17
18    53698  ...            8.21
19    53698  ...            9.06
20    53698  ...            8.18
21    53698  ...            7.26
22    53698  ...            6.72
23    53698  ...            8.62
24    53698  ...            7.65
25    53698  ...             7.7
26    53698  ...            7.89
27    53698  ...            7.75

[28 rows x 5 columns]

In [25]:
movies={}
for n in df['name']:
  movies[n]=0

In [26]:
for n in user_likes['name']:
  movie_user_likes = n
  movie_index = get_index_from_title(movie_user_likes)
  similar_movies = list(enumerate(cosine_sim[movie_index]))
  sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
  i=0
  for element in sorted_similar_movies:
      movies[get_title_from_index(element[0])]+=1
      print(get_title_from_index(element[0]),end = " ")
      i=i+1
      if i>5:
          break

Boku no Marie Yume de Aetara Asatte Dance Seishun Fuufu Monogatari: Koiko no Mainichi Chobits Recap Kagaku na Yatsura Sola Kanon Kanon Kazahana Clannad: After Story Glasslip Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai. Densetsu Kyojin Ideon: Hatsudou-hen Densetsu Kyojin Ideon: Sesshoku-hen The Humanoid: Ai no Wakusei Lezeria Dragonaut: The Resonance Special Captain Earth Macross Plus Uchuu Senkan Yamato: Aratanaru Tabidachi Soliton no Akuma Mobile Suit Gundam: The 08th MS Team - Miller&#039;s Report Tactical Roar Mahoromatic 2 Mobile Suit Gundam: The 08th MS Team Valkyrie Drive: Mermaid Valkyrie Drive: Mermaid Specials Gokujo.: Souda Onsen ni Ikou!! Patalliro Saiyuuki! Patalliro Saiyuuki! Special Uragiri wa Boku no Namae wo Shitteiru Maison Ikkoku: Kanketsu-hen Rec: Yurusarezarumono Maison Ikkoku: Ikkokujima Nanpa Shimatsuki Maison Ikkoku: Utsuriyuku Kisetsu no Naka de Maison Ikkoku: Prelude - Meguru Haru no Sakura no you ni... Chocotto Sister Sono Kinisasete yo: My My Mai Yakusai Kochou Teizokurei Daydream Dakara Boku wa, H ga Dekinai. Amaenaide yo!!: Yasumanaide yo!! Amaenaide yo!! Katsu!!: Damasarenaide yo!! Tezuka Osamu no Buddha: Owarinaki Tabi Kaze Tachinu Maihime Genji Monogatari Sennenki Seishun Anime Zenshuu Genji Monogatari Canvas 2: Niji-iro no Sketch Final Approach Okusama wa Joshikousei (TV) Byousoku 5 Centimeter Omoide Poroporo Kimi ga Nozomu Eien Working&#039;!! Jungle wa Itsumo Hare nochi Guu Deluxe Chi&#039;s Sweet Home Working!! New Game! Ichigo Mashimaro Encore Mankitsu Happening Koiito Kinenbi The Animation Oni Chichi: Rebuild Oni Chichi: Re-birth Stringendo: Angel-tachi no Private Lesson Fella Pure: Mitarashi-san Chi no Jijou The Animation Happiness! Maburaho To Heart 2 OVA Kakyuusei 2: Hitomi no Naka no Shoujo-tachi D.C.if: Da Capo if D.C.: Da Capo Omoide Poroporo Kimi ga Nozomu Eien Love Hina: Motoko no Sentaku, Koi ka Ken... &quot;Naku na&quot; Kimi no Iru Machi Kita e.: Diamond Dust Drops Bobby ni Kubittake Touka Gettan Mizuiro (2003) Venus Versus Virus Kimi no Na wa. Wind: A Breath of Heart OVA Wind: A Breath of Heart (TV) Clannad: After Story - Mou Hitotsu no Sekai, Kyou-hen True Tears &quot;Bungaku Shoujo&quot; Memoire Kimikiss Pure Rouge Myself; Yourself Koi to Senkyo to Chocolate Clannad Kokoro Connect: Michi Random Little Busters!: EX Little Busters! Sakurasou no Pet na Kanojo Chuunibyou demo Koi ga Shitai! Ren ef: A Tale of Memories. - Recollections &quot;Bungaku Shoujo&quot; Movie Nishi no Yoki Majo: Astraea Testament Gloria: Kindan no Ketsuzoku ef: A Tale of Melodies. Gosick Final Fantasy VII: Advent Children &quot;Eiyuu&quot; Kaitai Hulu Xiongdi Saint Seiya: Meiou Hades Elysion-hen One Piece: Romance Dawn One Piece: Romance Dawn Story Kara no Kyoukai 1: Fukan Fuukei Kara no Kyoukai 5: Mujun Rasen Kara no Kyoukai 2: Satsujin Kousatsu (Zen) Gankutsuou Higashi no Eden Movie II: Paradise Lost Osiris no Tenbin Air Sola Kanon Kanon Kazahana Glasslip Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai. X OVA Bakemonogatari Recap ef: A Tale of Memories. ef: A Tale of Memories. - Recollections Persona 4 the Golden Animation: Thank you Mr. Accomplice Air Movie Wake Up, Girls! Shichinin no Idol Wake Up, Girls! Beyond the Bottom Wake Up, Girls! Seishun no Kage Wake Up, Girls! Yakusoku (ONA) Kazoku no Hanashi Oretachi ni Tsubasa wa Nai: Under the Innocent Sky. Oretachi ni Tsubasa wa Nai: Hadairo Ritsu Kyuuwari Zou!? Rescue Me! Love Hina Final Selection Saenai Heroine no Sodatekata: Ai to Seishun no Service Kai Hanaukyou Maid-tai: La Verite Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai. Movie Kamichu! Specials Kamichu! Kataribe Shoujo Honoka Air Sola Mankitsu Happening Koiito Kinenbi The Animation Oni Chichi: Rebuild Oni Chichi: Re-birth Stringendo: Angel-tachi no Private Lesson Fella Pure: Mitarashi-san Chi no Jijou The Animation Ano Natsu de Matteru: Bokutachi wa Koukou Saigo no Natsu wo Sugoshinagara, Ano Natsu de Matteiru. Gokinjo Monogatari Canvas 2: Niji-iro no Sketch Final Approach Okusama wa Joshikousei (TV) Code-E Mankitsu Happening Koiito Kinenbi The Animation Oni Chichi: Rebuild Oni Chichi: Re-birth Stringendo: Angel-tachi no Private Lesson Fella Pure: Mitarashi-san Chi no Jijou The Animation Mankitsu Happening Koiito Kinenbi The Animation Oni Chichi: Rebuild Oni Chichi: Re-birth Stringendo: Angel-tachi no Private Lesson Fella Pure: Mitarashi-san Chi no Jijou The Animation

In [27]:
recommended = sorted(movies.items(), key=lambda x:x[1],reverse=True)[:100]
print("The top 5 movies recommended are : ")
i=0
for l,k in recommended:
  if l not in list(user_likes['name']):
      print(l)
      i+=1
  if i==5:
    break

The top 5 movies recommended are :
Mankitsu Happening
Koiito Kinenbi The Animation
Stringendo: Angel-tachi no Private Lesson
Fella Pure: Mitarashi-san Chi no Jijou The Animation
Sola

Collaborative Filtering

In [5]:
dfr['rating'].replace(-1,0,inplace=True)
dfc=pd.merge(dfr,df[['teleplay_id','name']],how='inner',left_on='teleplay_id',right_on='teleplay_id')
dfc=dfc.drop('teleplay_id',axis=1)
dfc.head()

   user_id  rating    name
0        1       0  Naruto
1        3       8  Naruto
2        5       6  Naruto
3        6       0  Naruto
4       10       0  Naruto

In [6]:
movie_matrix_UII = dfc.pivot_table(index='user_id', columns='name', values='rating')
movie_matrix_UII.head()

name     &quot;0&quot;  ...   â¯
user_id                 ...
1                  NaN  ... NaN
2                  NaN  ... NaN
3                  NaN  ... NaN
4                  NaN  ... NaN
5                  NaN  ... NaN

[5 rows x 9284 columns]