In [204]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [205]:
#https://drive.google.com/file/d/1gIA9AC8wNx2kdepuP2Y7K5J7LnihRD1V/view?usp=sharing
downloaded = drive.CreateFile({'id':'1gIA9AC8wNx2kdepuP2Y7K5J7LnihRD1V'}) 
downloaded.GetContentFile('Ratings.csv') 
#https://drive.google.com/file/d/11duMozcad56OxTZtGrW3nY2Ir0hKU8ul/view?usp=sharing
downloaded = drive.CreateFile({'id':'11duMozcad56OxTZtGrW3nY2Ir0hKU8ul'}) 
downloaded.GetContentFile('Teleplay.csv')
#https://drive.google.com/file/d/1TFQWYDQYwBf3cEtVsU6BtUnUZrwGOreH/view?usp=sharing
downloaded = drive.CreateFile({'id':'1TFQWYDQYwBf3cEtVsU6BtUnUZrwGOreH'}) 
downloaded.GetContentFile('New_Teleplay.csv')

In [74]:
import pandas as pd
tp=pd.read_csv("Teleplay.csv")
tp=tp.drop('name',axis=1)
tp

       teleplay_id  ... members
0            32281  ...  200630
1            28977  ...  114262
2             9253  ...  673572
3             9969  ...  151266
4            32935  ...   93351
...            ...  ...     ...
10199         9316  ...     211
10200         5543  ...     183
10201         5621  ...     219
10202         6133  ...     175
10203        26081  ...     142

[10204 rows x 6 columns]

In [75]:
tp['type'].unique()

array(['long', 'medium', 'short', 'Special', 'Music', 'ONA', nan],
      dtype=object)

In [76]:
rt=pd.read_csv('Ratings.csv')
rt.head()

   user_id  teleplay_id  rating
0        1           20      -1
1        1           24      -1
2        1           79      -1
3        1          226      -1
4        1          241      -1

Removing -1 values from Ratings.csv

In [77]:
rt.loc[rt['rating']==-1,'rating']= None
rt.head()

   user_id  teleplay_id  rating
0        1           20     NaN
1        1           24     NaN
2        1           79     NaN
3        1          226     NaN
4        1          241     NaN

Handling missing values

In [78]:
tp.isna().sum()

teleplay_id      0
genre           53
type            20
episodes         0
rating         193
members          0
dtype: int64

In [79]:
gen=tp['genre'].fillna("")
tp=tp.drop('genre',axis=1)
tp['genre']=gen
tp.head()

   teleplay_id  ...                                              genre
0        32281  ...               Drama, Romance, School, Supernatural
1        28977  ...  Action, Comedy, Historical, Parody, Samurai, S...
2         9253  ...                                   Sci-Fi, Thriller
3         9969  ...  Action, Comedy, Historical, Parody, Samurai, S...
4        32935  ...             Comedy, Drama, School, Shounen, Sports

[5 rows x 6 columns]

In [80]:
print(tp['type'].value_counts())
typ=tp['type'].fillna(tp['type'].value_counts().idxmax())
tp=tp.drop('type',axis=1)
tp['type']=typ
tp.head()

medium     3131
short      2725
long       1968
Special    1397
ONA         562
Music       401
Name: type, dtype: int64

   teleplay_id  ...    type
0        32281  ...    long
1        28977  ...  medium
2         9253  ...  medium
3         9969  ...  medium
4        32935  ...  medium

[5 rows x 6 columns]

In [84]:
tp[tp['episodes']=='Unknown']=None
g=tp['episodes'].dropna()
tp=tp.drop('episodes',axis=1)
tp['episodes']=g
tp.head()

   teleplay_id  rating  ...    type episodes
0      32281.0    9.37  ...    long        1
1      28977.0    9.25  ...  medium       51
2       9253.0    9.17  ...  medium       24
3       9969.0    9.16  ...  medium       51
4      32935.0    9.15  ...  medium       10

[5 rows x 6 columns]

In [90]:
tp=tp.dropna()
tp.isna().sum()

teleplay_id    0
rating         0
members        0
genre          0
type           0
episodes       0
dtype: int64

Handling Outliers

In [96]:
outliers=[]
def detect_outliers(data):
    
    threshold=3
    mean = np.mean(data)
    std =np.std(data)
    
    
    for i in data:
        z_score= (i - mean)/std 
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

len(outlier_pt)

215

In [103]:
outlier_pt=detect_outliers(tp['members'].astype(int))
tp.drop(tp[tp['members'].isin(outlier_pt)].index,inplace=True)

outlier_pt=detect_outliers(tp['episodes'].astype(int))
tp.drop(tp[tp['episodes'].isin(outlier_pt)].index,inplace=True)
tp

       teleplay_id  rating  ...    type episodes
1          28977.0    9.25  ...  medium       51
3           9969.0    9.16  ...  medium       51
4          32935.0    9.15  ...  medium       10
6            820.0    9.11  ...   short      110
7          15335.0    9.10  ...    long        1
...            ...     ...  ...     ...      ...
10199       9316.0    4.15  ...   short        1
10200       5543.0    4.28  ...   short        1
10201       5621.0    4.88  ...   short        4
10202       6133.0    4.98  ...   short        1
10203      26081.0    5.46  ...    long        1

[9640 rows x 6 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
typ_label=le.fit_transform(tp['type'])
tp=tp.drop('type',axis=1)
tp['type']=typ_label
tp.head()

In [131]:
tp=tp.reset_index(drop=True)
tp.head()

   teleplay_id  rating  ...  episodes type
0      28977.0    9.25  ...        51    4
1       9969.0    9.16  ...        51    4
2      32935.0    9.15  ...        10    4
3        820.0    9.11  ...       110    5
4      15335.0    9.10  ...         1    3

[5 rows x 6 columns]

In [141]:
from sklearn.preprocessing import OneHotEncoder
  
onehotencoder = OneHotEncoder()
r=pd.DataFrame(tp['type'])
#data = np.array(columnTransformer.fit_transform(r), dtype = np.str)
rated_dummies = pd.get_dummies(r.type)
type_names={}
for i in range(6):
  type_names[i]=le.inverse_transform([i])[0]
rated_dummies=rated_dummies.rename(columns=type_names)
rated_dummies.head()

   Music  ONA  Special  long  medium  short
0      0    0        0     0       1      0
1      0    0        0     0       1      0
2      0    0        0     0       1      0
3      0    0        0     0       0      1
4      0    0        0     1       0      0

In [143]:
for r in rated_dummies.columns:
  tp[r]=rated_dummies[r]
tp.head()

   teleplay_id  rating   members  ... long medium  short
0      28977.0    9.25  114262.0  ...    0      1      0
1       9969.0    9.16  151266.0  ...    0      1      0
2      32935.0    9.15   93351.0  ...    0      1      0
3        820.0    9.11   80679.0  ...    0      0      1
4      15335.0    9.10   72534.0  ...    1      0      0

[5 rows x 12 columns]

In [145]:
tp=tp.drop('type',axis=1)
tp.head()

   teleplay_id  rating   members  ... long medium  short
0      28977.0    9.25  114262.0  ...    0      1      0
1       9969.0    9.16  151266.0  ...    0      1      0
2      32935.0    9.15   93351.0  ...    0      1      0
3        820.0    9.11   80679.0  ...    0      0      1
4      15335.0    9.10   72534.0  ...    1      0      0

[5 rows x 11 columns]

Add average rating from the users to tp dataframe

In [149]:
rt=rt.dropna().reset_index(drop=True)
rt.head()

   user_id  teleplay_id  rating
0        1         8074    10.0
1        1        11617    10.0
2        1        11757    10.0
3        1        15451    10.0
4        2        11771    10.0

In [155]:
avg_rt=pd.DataFrame(rt.groupby('teleplay_id').mean()['rating'])
df=pd.merge(tp, avg_rt, how='inner', left_on = 'teleplay_id', right_on = 'teleplay_id')
df=df.rename(columns = {"rating_x": "rating","rating_y":"average rating"})
df.head()

   teleplay_id  rating   members  ... medium short  average rating
0      28977.0    9.25  114262.0  ...      1     0        9.449495
1       9969.0    9.16  151266.0  ...      1     0        9.272552
2      32935.0    9.15   93351.0  ...      1     0        9.171484
3        820.0    9.11   80679.0  ...      0     1        9.389788
4      15335.0    9.10   72534.0  ...      0     0        9.191430

[5 rows x 12 columns]

In [164]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
x = v.fit_transform(df['genre'])
gen_idf=pd.DataFrame(x.toarray())
gen_idf.head()

         0    1    2    3    4         5   ...   41   42   43   44   45   46
0  0.246691  0.0  0.0  0.0  0.0  0.202397  ...  0.0  0.0  0.0  0.0  0.0  0.0
1  0.246691  0.0  0.0  0.0  0.0  0.202397  ...  0.0  0.0  0.0  0.0  0.0  0.0
2  0.000000  0.0  0.0  0.0  0.0  0.284510  ...  0.0  0.0  0.0  0.0  0.0  0.0
3  0.000000  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0
4  0.246691  0.0  0.0  0.0  0.0  0.202397  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 47 columns]

In [192]:
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()
# fit and transform the data
df_norm = pd.DataFrame(scaler.fit_transform(df[['members','episodes']]), columns=['members','episodes'])

for r in rated_dummies.columns:
  df_norm[r]=rated_dummies[r]

In [193]:
df_norm=df_norm.drop('Music',axis=1)

In [253]:
for i in range(47):
  df_norm[i]=gen_idf[i]
df_norm.head()

    members  episodes  ONA  Special  long  medium  ...   41   42   43   44   45   46
0  0.625296  0.027518    0        0     0       1  ...  0.0  0.0  0.0  0.0  0.0  0.0
1  0.827857  0.027518    0        0     0       1  ...  0.0  0.0  0.0  0.0  0.0  0.0
2  0.510828  0.004953    0        0     0       1  ...  0.0  0.0  0.0  0.0  0.0  0.0
3  0.441460  0.059989    0        0     0       0  ...  0.0  0.0  0.0  0.0  0.0  0.0
4  0.396874  0.000000    0        0     1       0  ...  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 54 columns]

In [254]:
y=df['rating']
X=df_norm
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [255]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

y_pred=regressor.predict(X_test)

In [256]:
from sklearn.metrics import mean_squared_error

rms = mean_squared_error(y_test, y_pred, squared=False)
rms

0.7005117280273165

In [257]:
regressor=LinearRegression()
regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [217]:
test_df=pd.read_csv("New_Teleplay.csv")
test_df

      teleplay_id  ... members
0            9345  ...     341
1            1793  ...    8230
2           33909  ...     126
3           10585  ...     308
4           28993  ...     246
...           ...  ...     ...
2085         3531  ...     862
2086          795  ...   11424
2087        29995  ...     727
2088         9973  ...     143
2089          902  ...   51083

[2090 rows x 7 columns]

In [218]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
gen_test=test_df['genre'].fillna("")
test_df=test_df.drop('genre',axis=1)
test_df['genre']=gen_test
x = v.fit_transform(test_df['genre'])
gen_idf_test=pd.DataFrame(x.toarray())
gen_idf_test.head()

         0    1    2    3    4         5   ...   41        42   43   44   45   46
0  0.000000  0.0  0.0  0.0  0.0  0.286191  ...  0.0  0.500603  0.0  0.0  0.0  0.0
1  0.336085  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.000000  0.0  0.0  0.0  0.0
2  0.000000  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.000000  0.0  0.0  0.0  0.0
3  0.000000  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.000000  0.0  0.0  0.0  0.0
4  0.000000  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.000000  0.0  0.0  0.0  0.0

[5 rows x 47 columns]

In [219]:
print(test_df['type'].value_counts())
typ=test_df['type'].fillna(test_df['type'].value_counts().idxmax())
test_df=test_df.drop('type',axis=1)
test_df['type']=typ
test_df.head()

medium     656
short      586
long       380
Special    279
ONA         97
Music       87
Name: type, dtype: int64

   teleplay_id  ...    type
0         9345  ...  medium
1         1793  ...    long
2        33909  ...   Music
3        10585  ...   Music
4        28993  ...    long

[5 rows x 7 columns]

In [220]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
typ_label=le.fit_transform(test_df['type'])
test_df=test_df.drop('type',axis=1)
test_df['type']=typ_label
test_df.head()

# One Hot Encoding

from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
r=pd.DataFrame(test_df['type'])
#data = np.array(columnTransformer.fit_transform(r), dtype = np.str)
rated_dummies = pd.get_dummies(r.type)
type_names={}
for i in range(6):
  type_names[i]=le.inverse_transform([i])[0]
rated_dummies=rated_dummies.rename(columns=type_names)
rated_dummies.head()

   Music  ONA  Special  long  medium  short
0      0    0        0     0       1      0
1      0    0        0     1       0      0
2      1    0        0     0       0      0
3      1    0        0     0       0      0
4      0    0        0     1       0      0

In [226]:
test_df.loc[test_df['episodes']=='Unknown','episodes']= None
test_df=test_df.drop('rating',axis=1)

In [239]:
test_df=test_df.fillna(test_df.mean())
from sklearn.preprocessing import MinMaxScaler

# create a scaler object
scaler = MinMaxScaler()
# fit and transform the data
df_norm_test = pd.DataFrame(scaler.fit_transform(test_df[['members','episodes']]), columns=['members','episodes'])

for r in rated_dummies.columns:
  df_norm_test[r]=rated_dummies[r]
df_norm_test

       members  episodes  Music  ONA  Special  long  medium  short
0     0.000415  0.024521      0    0        0     0       1      0
1     0.010355  0.000000      0    0        0     1       0      0
2     0.000144  0.000000      1    0        0     0       0      0
3     0.000373  0.000000      1    0        0     0       0      0
4     0.000295  0.000000      0    0        0     1       0      0
...        ...       ...    ...  ...      ...   ...     ...    ...
2085  0.001071  0.000000      0    0        0     0       0      1
2086  0.014379  0.029119      0    0        0     0       1      0
2087  0.000901  0.000000      0    1        0     0       0      0
2088  0.000165  0.000000      0    0        0     1       0      0
2089  0.064349  0.000000      0    0        0     1       0      0

[2090 rows x 8 columns]

In [250]:
df_norm_test=df_norm_test.drop('Music',axis=1)

In [258]:
for i in range(47):
  df_norm_test[i]=gen_idf_test[i]

In [260]:
df_norm_test=df_norm_test.fillna(df_norm_test.mean())
y_ans=regressor.predict(df_norm_test)

In [269]:
ans_df=pd.read_csv('New_Teleplay.csv')
ans_df.drop('rating',axis=1)
ans_df['rating']=y_ans
ans_df.to_csv("Final_rating.csv")

Neural Network

In [273]:

from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings

In [302]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(256, kernel_initializer='normal',input_dim = X.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(512, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(512, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(512, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 256)               14080
_________________________________________________________________
dense_31 (Dense)             (None, 512)               131584
_________________________________________________________________
dense_32 (Dense)             (None, 512)               262656
_________________________________________________________________
dense_33 (Dense)             (None, 512)               262656
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 513
=================================================================
Total params: 671,489
Trainable params: 671,489
Non-trainable params: 0
_________________________________________________________________

In [304]:

checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]
NN_model.fit(X, y, epochs=300, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Epoch 1/300
201/201 [==============================] - 3s 13ms/step - loss: 1.6087 - mean_absolute_error: 1.6087 - val_loss: 0.8585 - val_mean_absolute_error: 0.8585

Epoch 00001: val_loss improved from inf to 0.85851, saving model to Weights-001--0.85851.hdf5
Epoch 2/300
201/201 [==============================] - 2s 12ms/step - loss: 0.5723 - mean_absolute_error: 0.5723 - val_loss: 0.8462 - val_mean_absolute_error: 0.8462

Epoch 00002: val_loss improved from 0.85851 to 0.84620, saving model to Weights-002--0.84620.hdf5
Epoch 3/300
201/201 [==============================] - 2s 12ms/step - loss: 0.5372 - mean_absolute_error: 0.5372 - val_loss: 0.8072 - val_mean_absolute_error: 0.8072

Epoch 00003: val_loss improved from 0.84620 to 0.80719, saving model to Weights-003--0.80719.hdf5
Epoch 4/300
201/201 [==============================] - 2s 12ms/step - loss: 0.5112 - mean_absolute_error: 0.5112 - val_loss: 0.7831 - val_mean_absolute_error: 0.7831

Epoch 00004: val_loss improved from 0.80719 to 0.78315, saving model to Weights-004--0.78315.hdf5
Epoch 5/300
201/201 [==============================] - 2s 12ms/step - loss: 0.5090 - mean_absolute_error: 0.5090 - val_loss: 0.7428 - val_mean_absolute_error: 0.7428

Epoch 00005: val_loss improved from 0.78315 to 0.74277, saving model to Weights-005--0.74277.hdf5
Epoch 6/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4735 - mean_absolute_error: 0.4735 - val_loss: 0.7987 - val_mean_absolute_error: 0.7987

Epoch 00006: val_loss did not improve from 0.74277
Epoch 7/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4784 - mean_absolute_error: 0.4784 - val_loss: 0.7297 - val_mean_absolute_error: 0.7297

Epoch 00007: val_loss improved from 0.74277 to 0.72972, saving model to Weights-007--0.72972.hdf5
Epoch 8/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4522 - mean_absolute_error: 0.4522 - val_loss: 0.7157 - val_mean_absolute_error: 0.7157

Epoch 00008: val_loss improved from 0.72972 to 0.71571, saving model to Weights-008--0.71571.hdf5
Epoch 9/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4959 - mean_absolute_error: 0.4959 - val_loss: 0.7070 - val_mean_absolute_error: 0.7070

Epoch 00009: val_loss improved from 0.71571 to 0.70703, saving model to Weights-009--0.70703.hdf5
Epoch 10/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4291 - mean_absolute_error: 0.4291 - val_loss: 0.7285 - val_mean_absolute_error: 0.7285

Epoch 00010: val_loss did not improve from 0.70703
Epoch 11/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4118 - mean_absolute_error: 0.4118 - val_loss: 0.6717 - val_mean_absolute_error: 0.6717

Epoch 00011: val_loss improved from 0.70703 to 0.67168, saving model to Weights-011--0.67168.hdf5
Epoch 12/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4156 - mean_absolute_error: 0.4156 - val_loss: 0.6851 - val_mean_absolute_error: 0.6851

Epoch 00012: val_loss did not improve from 0.67168
Epoch 13/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4287 - mean_absolute_error: 0.4287 - val_loss: 0.7318 - val_mean_absolute_error: 0.7318

Epoch 00013: val_loss did not improve from 0.67168
Epoch 14/300
201/201 [==============================] - 3s 12ms/step - loss: 0.4080 - mean_absolute_error: 0.4080 - val_loss: 0.7632 - val_mean_absolute_error: 0.7632

Epoch 00014: val_loss did not improve from 0.67168
Epoch 15/300
201/201 [==============================] - 2s 12ms/step - loss: 0.4107 - mean_absolute_error: 0.4107 - val_loss: 0.6982 - val_mean_absolute_error: 0.6982

Epoch 00015: val_loss did not improve from 0.67168
Epoch 16/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3889 - mean_absolute_error: 0.3889 - val_loss: 0.7008 - val_mean_absolute_error: 0.7008

Epoch 00016: val_loss did not improve from 0.67168
Epoch 17/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3868 - mean_absolute_error: 0.3868 - val_loss: 0.6597 - val_mean_absolute_error: 0.6597

Epoch 00017: val_loss improved from 0.67168 to 0.65969, saving model to Weights-017--0.65969.hdf5
Epoch 18/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3846 - mean_absolute_error: 0.3846 - val_loss: 0.6673 - val_mean_absolute_error: 0.6673

Epoch 00018: val_loss did not improve from 0.65969
Epoch 19/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3732 - mean_absolute_error: 0.3732 - val_loss: 0.6584 - val_mean_absolute_error: 0.6584

Epoch 00019: val_loss improved from 0.65969 to 0.65843, saving model to Weights-019--0.65843.hdf5
Epoch 20/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3660 - mean_absolute_error: 0.3660 - val_loss: 0.6604 - val_mean_absolute_error: 0.6604

Epoch 00020: val_loss did not improve from 0.65843
Epoch 21/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3732 - mean_absolute_error: 0.3732 - val_loss: 0.6594 - val_mean_absolute_error: 0.6594

Epoch 00021: val_loss did not improve from 0.65843
Epoch 22/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3738 - mean_absolute_error: 0.3738 - val_loss: 0.6636 - val_mean_absolute_error: 0.6636

Epoch 00022: val_loss did not improve from 0.65843
Epoch 23/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3912 - mean_absolute_error: 0.3912 - val_loss: 0.6776 - val_mean_absolute_error: 0.6776

Epoch 00023: val_loss did not improve from 0.65843
Epoch 24/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3747 - mean_absolute_error: 0.3747 - val_loss: 0.6680 - val_mean_absolute_error: 0.6680

Epoch 00024: val_loss did not improve from 0.65843
Epoch 25/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3747 - mean_absolute_error: 0.3747 - val_loss: 0.6652 - val_mean_absolute_error: 0.6652

Epoch 00025: val_loss did not improve from 0.65843
Epoch 26/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3624 - mean_absolute_error: 0.3624 - val_loss: 0.6554 - val_mean_absolute_error: 0.6554

Epoch 00026: val_loss improved from 0.65843 to 0.65538, saving model to Weights-026--0.65538.hdf5
Epoch 27/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3539 - mean_absolute_error: 0.3539 - val_loss: 0.6758 - val_mean_absolute_error: 0.6758

Epoch 00027: val_loss did not improve from 0.65538
Epoch 28/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3544 - mean_absolute_error: 0.3544 - val_loss: 0.6604 - val_mean_absolute_error: 0.6604

Epoch 00028: val_loss did not improve from 0.65538
Epoch 29/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3390 - mean_absolute_error: 0.3390 - val_loss: 0.6718 - val_mean_absolute_error: 0.6718

Epoch 00029: val_loss did not improve from 0.65538
Epoch 30/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3437 - mean_absolute_error: 0.3437 - val_loss: 0.6725 - val_mean_absolute_error: 0.6725

Epoch 00030: val_loss did not improve from 0.65538
Epoch 31/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3482 - mean_absolute_error: 0.3482 - val_loss: 0.6747 - val_mean_absolute_error: 0.6747

Epoch 00031: val_loss did not improve from 0.65538
Epoch 32/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3477 - mean_absolute_error: 0.3477 - val_loss: 0.6765 - val_mean_absolute_error: 0.6765

Epoch 00032: val_loss did not improve from 0.65538
Epoch 33/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3447 - mean_absolute_error: 0.3447 - val_loss: 0.6748 - val_mean_absolute_error: 0.6748

Epoch 00033: val_loss did not improve from 0.65538
Epoch 34/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3720 - mean_absolute_error: 0.3720 - val_loss: 0.7093 - val_mean_absolute_error: 0.7093

Epoch 00034: val_loss did not improve from 0.65538
Epoch 35/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3465 - mean_absolute_error: 0.3465 - val_loss: 0.6844 - val_mean_absolute_error: 0.6844

Epoch 00035: val_loss did not improve from 0.65538
Epoch 36/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3428 - mean_absolute_error: 0.3428 - val_loss: 0.6794 - val_mean_absolute_error: 0.6794

Epoch 00036: val_loss did not improve from 0.65538
Epoch 37/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3354 - mean_absolute_error: 0.3354 - val_loss: 0.6772 - val_mean_absolute_error: 0.6772

Epoch 00037: val_loss did not improve from 0.65538
Epoch 38/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3265 - mean_absolute_error: 0.3265 - val_loss: 0.7028 - val_mean_absolute_error: 0.7028

Epoch 00038: val_loss did not improve from 0.65538
Epoch 39/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3384 - mean_absolute_error: 0.3384 - val_loss: 0.6850 - val_mean_absolute_error: 0.6850

Epoch 00039: val_loss did not improve from 0.65538
Epoch 40/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3224 - mean_absolute_error: 0.3224 - val_loss: 0.6700 - val_mean_absolute_error: 0.6700

Epoch 00040: val_loss did not improve from 0.65538
Epoch 41/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3416 - mean_absolute_error: 0.3416 - val_loss: 0.6878 - val_mean_absolute_error: 0.6878

Epoch 00041: val_loss did not improve from 0.65538
Epoch 42/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3261 - mean_absolute_error: 0.3261 - val_loss: 0.6835 - val_mean_absolute_error: 0.6835

Epoch 00042: val_loss did not improve from 0.65538
Epoch 43/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3197 - mean_absolute_error: 0.3197 - val_loss: 0.6881 - val_mean_absolute_error: 0.6881

Epoch 00043: val_loss did not improve from 0.65538
Epoch 44/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3158 - mean_absolute_error: 0.3158 - val_loss: 0.7230 - val_mean_absolute_error: 0.7230

Epoch 00044: val_loss did not improve from 0.65538
Epoch 45/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3262 - mean_absolute_error: 0.3262 - val_loss: 0.6868 - val_mean_absolute_error: 0.6868

Epoch 00045: val_loss did not improve from 0.65538
Epoch 46/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3038 - mean_absolute_error: 0.3038 - val_loss: 0.6751 - val_mean_absolute_error: 0.6751

Epoch 00046: val_loss did not improve from 0.65538
Epoch 47/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3101 - mean_absolute_error: 0.3101 - val_loss: 0.6914 - val_mean_absolute_error: 0.6914

Epoch 00047: val_loss did not improve from 0.65538
Epoch 48/300
201/201 [==============================] - 3s 13ms/step - loss: 0.3184 - mean_absolute_error: 0.3184 - val_loss: 0.6795 - val_mean_absolute_error: 0.6795

Epoch 00048: val_loss did not improve from 0.65538
Epoch 49/300
201/201 [==============================] - 2s 12ms/step - loss: 0.3012 - mean_absolute_error: 0.3012 - val_loss: 0.6783 - val_mean_absolute_error: 0.6783

Epoch 00049: val_loss did not improve from 0.65538
Epoch 50/300
201/201 [==============================] - 3s 14ms/step - loss: 0.2941 - mean_absolute_error: 0.2941 - val_loss: 0.6909 - val_mean_absolute_error: 0.6909

Epoch 00050: val_loss did not improve from 0.65538
Epoch 51/300
201/201 [==============================] - 3s 15ms/step - loss: 0.3000 - mean_absolute_error: 0.3000 - val_loss: 0.6752 - val_mean_absolute_error: 0.6752

Epoch 00051: val_loss did not improve from 0.65538
Epoch 52/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2845 - mean_absolute_error: 0.2845 - val_loss: 0.6750 - val_mean_absolute_error: 0.6750

Epoch 00052: val_loss did not improve from 0.65538
Epoch 53/300
201/201 [==============================] - 3s 15ms/step - loss: 0.3027 - mean_absolute_error: 0.3027 - val_loss: 0.6817 - val_mean_absolute_error: 0.6817

Epoch 00053: val_loss did not improve from 0.65538
Epoch 54/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2879 - mean_absolute_error: 0.2879 - val_loss: 0.6930 - val_mean_absolute_error: 0.6930

Epoch 00054: val_loss did not improve from 0.65538
Epoch 55/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2945 - mean_absolute_error: 0.2945 - val_loss: 0.6875 - val_mean_absolute_error: 0.6875

Epoch 00055: val_loss did not improve from 0.65538
Epoch 56/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2877 - mean_absolute_error: 0.2877 - val_loss: 0.6835 - val_mean_absolute_error: 0.6835

Epoch 00056: val_loss did not improve from 0.65538
Epoch 57/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2899 - mean_absolute_error: 0.2899 - val_loss: 0.6727 - val_mean_absolute_error: 0.6727

Epoch 00057: val_loss did not improve from 0.65538
Epoch 58/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2771 - mean_absolute_error: 0.2771 - val_loss: 0.7026 - val_mean_absolute_error: 0.7026

Epoch 00058: val_loss did not improve from 0.65538
Epoch 59/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2927 - mean_absolute_error: 0.2927 - val_loss: 0.6885 - val_mean_absolute_error: 0.6885

Epoch 00059: val_loss did not improve from 0.65538
Epoch 60/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2803 - mean_absolute_error: 0.2803 - val_loss: 0.6781 - val_mean_absolute_error: 0.6781

Epoch 00060: val_loss did not improve from 0.65538
Epoch 61/300
201/201 [==============================] - 3s 16ms/step - loss: 0.2739 - mean_absolute_error: 0.2739 - val_loss: 0.6789 - val_mean_absolute_error: 0.6789

Epoch 00061: val_loss did not improve from 0.65538
Epoch 62/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2964 - mean_absolute_error: 0.2964 - val_loss: 0.6853 - val_mean_absolute_error: 0.6853

Epoch 00062: val_loss did not improve from 0.65538
Epoch 63/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2701 - mean_absolute_error: 0.2701 - val_loss: 0.6674 - val_mean_absolute_error: 0.6674

Epoch 00063: val_loss did not improve from 0.65538
Epoch 64/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2743 - mean_absolute_error: 0.2743 - val_loss: 0.7080 - val_mean_absolute_error: 0.7080

Epoch 00064: val_loss did not improve from 0.65538
Epoch 65/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2741 - mean_absolute_error: 0.2741 - val_loss: 0.6761 - val_mean_absolute_error: 0.6761

Epoch 00065: val_loss did not improve from 0.65538
Epoch 66/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2688 - mean_absolute_error: 0.2688 - val_loss: 0.6860 - val_mean_absolute_error: 0.6860

Epoch 00066: val_loss did not improve from 0.65538
Epoch 67/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2764 - mean_absolute_error: 0.2764 - val_loss: 0.6731 - val_mean_absolute_error: 0.6731

Epoch 00067: val_loss did not improve from 0.65538
Epoch 68/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2652 - mean_absolute_error: 0.2652 - val_loss: 0.6861 - val_mean_absolute_error: 0.6861

Epoch 00068: val_loss did not improve from 0.65538
Epoch 69/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2660 - mean_absolute_error: 0.2660 - val_loss: 0.6665 - val_mean_absolute_error: 0.6665

Epoch 00069: val_loss did not improve from 0.65538
Epoch 70/300
201/201 [==============================] - 3s 15ms/step - loss: 0.2663 - mean_absolute_error: 0.2663 - val_loss: 0.6784 - val_mean_absolute_error: 0.6784

Epoch 00070: val_loss did not improve from 0.65538
Epoch 71/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2670 - mean_absolute_error: 0.2670 - val_loss: 0.6684 - val_mean_absolute_error: 0.6684

Epoch 00071: val_loss did not improve from 0.65538
Epoch 72/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2558 - mean_absolute_error: 0.2558 - val_loss: 0.6843 - val_mean_absolute_error: 0.6843

Epoch 00072: val_loss did not improve from 0.65538
Epoch 73/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2557 - mean_absolute_error: 0.2557 - val_loss: 0.6801 - val_mean_absolute_error: 0.6801

Epoch 00073: val_loss did not improve from 0.65538
Epoch 74/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2577 - mean_absolute_error: 0.2577 - val_loss: 0.6764 - val_mean_absolute_error: 0.6764

Epoch 00074: val_loss did not improve from 0.65538
Epoch 75/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2465 - mean_absolute_error: 0.2465 - val_loss: 0.6767 - val_mean_absolute_error: 0.6767

Epoch 00075: val_loss did not improve from 0.65538
Epoch 76/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2463 - mean_absolute_error: 0.2463 - val_loss: 0.6827 - val_mean_absolute_error: 0.6827

Epoch 00076: val_loss did not improve from 0.65538
Epoch 77/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2507 - mean_absolute_error: 0.2507 - val_loss: 0.6648 - val_mean_absolute_error: 0.6648

Epoch 00077: val_loss did not improve from 0.65538
Epoch 78/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2445 - mean_absolute_error: 0.2445 - val_loss: 0.6779 - val_mean_absolute_error: 0.6779

Epoch 00078: val_loss did not improve from 0.65538
Epoch 79/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2388 - mean_absolute_error: 0.2388 - val_loss: 0.6621 - val_mean_absolute_error: 0.6621

Epoch 00079: val_loss did not improve from 0.65538
Epoch 80/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2479 - mean_absolute_error: 0.2479 - val_loss: 0.6829 - val_mean_absolute_error: 0.6829

Epoch 00080: val_loss did not improve from 0.65538
Epoch 81/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2498 - mean_absolute_error: 0.2498 - val_loss: 0.6641 - val_mean_absolute_error: 0.6641

Epoch 00081: val_loss did not improve from 0.65538
Epoch 82/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2451 - mean_absolute_error: 0.2451 - val_loss: 0.6793 - val_mean_absolute_error: 0.6793

Epoch 00082: val_loss did not improve from 0.65538
Epoch 83/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2307 - mean_absolute_error: 0.2307 - val_loss: 0.6953 - val_mean_absolute_error: 0.6953

Epoch 00083: val_loss did not improve from 0.65538
Epoch 84/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2466 - mean_absolute_error: 0.2466 - val_loss: 0.6689 - val_mean_absolute_error: 0.6689

Epoch 00084: val_loss did not improve from 0.65538
Epoch 85/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2276 - mean_absolute_error: 0.2276 - val_loss: 0.6721 - val_mean_absolute_error: 0.6721

Epoch 00085: val_loss did not improve from 0.65538
Epoch 86/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2340 - mean_absolute_error: 0.2340 - val_loss: 0.6609 - val_mean_absolute_error: 0.6609

Epoch 00086: val_loss did not improve from 0.65538
Epoch 87/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2354 - mean_absolute_error: 0.2354 - val_loss: 0.6594 - val_mean_absolute_error: 0.6594

Epoch 00087: val_loss did not improve from 0.65538
Epoch 88/300
201/201 [==============================] - 3s 13ms/step - loss: 0.2289 - mean_absolute_error: 0.2289 - val_loss: 0.6669 - val_mean_absolute_error: 0.6669

Epoch 00088: val_loss did not improve from 0.65538
Epoch 89/300
201/201 [==============================] - 2s 12ms/step - loss: 0.2412 - mean_absolute_error: 0.2412 - val_loss: 0.6564 - val_mean_absolute_error: 0.6564


KeyboardInterrupt: ignored

In [305]:
wights_file = '/content/Weights-198--0.62641.hdf5' # choose the best checkpoint 
NN_model.load_weights(wights_file) # load it
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [306]:

def make_submission(prediction, sub_name):
  my_submission = pd.DataFrame({'Id':pd.read_csv('test.csv').Id,'SalePrice':prediction})
  my_submission.to_csv('{}.csv'.format(sub_name),index=False)
  print('A submission file has been made')

predictions = NN_model.predict(df_norm_test)
#make_submission(predictions[:,0],'submission(NN).csv')

In [307]:
predictions

array([[6.9834657],
       [6.256876 ],
       [5.269803 ],
       ...,
       [5.078948 ],
       [5.786393 ],
       [6.5623918]], dtype=float32)

In [308]:
ans_df=pd.read_csv('New_Teleplay.csv')
ans_df.drop('rating',axis=1)
ans_df['rating']=predictions
ans_df.to_csv("Final_rating_NN.csv")